#### Importing necessary packages ####

In [1]:
import numpy as np;
import matplotlib.pyplot as pyplot;
import pandas as pd;
import sklearn;
import regex as re;
from sklearn.model_selection import train_test_split

In [2]:
# Verifying mission values
df = pd.read_csv("used_cars.csv");
print(df.isnull().sum())

df.duplicated().sum()
#there is no duplicates in this data frame

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

0

To solve this problem of null values, we have three different approaches
<ul>
<li>Dropping all of these rows</li>
<li>Replacing it with mode or median or mean</li>
<li>Create another category for the NaN</li>
<li>Using KNNs</li>
</ul>

In [3]:
# replacing Null values with mode
df['fuel_type'] = df['fuel_type'].replace(np.nan,df['fuel_type'].mode()[0])

df['accident'] = df['accident'].replace(np.nan,df['accident'].mode()[0])

df = df.dropna(subset = ['clean_title'])

In [4]:
df.isnull().sum()

brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

In [5]:
df = df.drop(columns = ['engine','model'])
# turning milage,price values into numbers
for i,row in df.iterrows():
    number = int("".join(re.findall("\d+",row['milage'])))
    df.loc[i,'milage'] = number;
    number = int("".join(re.findall("\d+",row['price'])))
    df.loc[i,'price'] = number;
    
df

,brand,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,2013,51000,E85 Flex Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300
1,Hyundai,2021,34742,Gasoline,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005
3,INFINITI,2015,88900,Hybrid,7-Speed A/T,Black,Black,None reported,Yes,15500
6,Audi,2017,84000,Gasoline,6-Speed A/T,Blue,Black,None reported,Yes,31000
7,BMW,2001,242000,Gasoline,A/T,Green,Green,None reported,Yes,7300
...,...,...,...,...,...,...,...,...,...,...
4003,Mercedes-Benz,2018,53705,Gasoline,A/T,Black,Black,At least 1 accident or damage reported,Yes,25900
4004,Bentley,2023,714,Gasoline,8-Speed Automatic with Auto-Shift,C / C,Hotspur,None reported,Yes,349950
4005,Audi,2022,10900,Gasoline,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,53900
4007,Ford,2020,33000,Gasoline,A/T,Blue,Black,None reported,Yes,62999
4008,BMW,2020,43000,Gasoline,A/T,Gray,Brown,At least 1 accident or damage reported,Yes,40000

In [6]:
# turning categorical columns into classes

def turn_into_class(df,col_name):

    mean_encoded = df.groupby(col_name)['price'].mean()

    df[col_name] = df[col_name].map(mean_encoded)
     

turn_into_class(df,col_name='brand');
turn_into_class(df,col_name='fuel_type');
turn_into_class(df,col_name='transmission');
turn_into_class(df,col_name='ext_col');
turn_into_class(df,col_name='int_col');
turn_into_class(df,col_name='clean_title');
turn_into_class(df,col_name='accident');
df['fuel_type'].unique()

# extcolor_class_index = turn_into_class(df['ext_col'],col_name='ext_col');
# intcolor_class_index = turn_into_class(df['int_col'],col_name='int_col')
# cleantitle_class_index = turn_into_class(df['clean_title'],col_name='clean_title')
# accident_class_index = turn_into_class(df['accident'],col_name='accident')
# fuel_class_index = turn_into_class(df['fuel_type'],col_name='fuel_type')
# transmission_class_index = turn_into_class(df['transmission'],col_name='transmission')

array([22119.3671875, 42161.433930381885, 49021.324137931035,
       46134.166666666664, 44762.72727272727, 34853.75, 14000.0],
      dtype=object)

In [7]:
train_x,test_x,train_y,test_y = train_test_split(df[['brand','model_year','milage','fuel_type','transmission','ext_col','int_col','accident','clean_title']], df['price'], test_size=0.2, random_state=42);

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [10]:
model = LinearRegression();

# Fit the model to the training data
model.fit(train_x,train_y);

# Make predictions on the test data
y_pred = model.predict(test_x);

print(y_pred);
# Evaluate the model
mse = mean_squared_error(test_y, y_pred);
r2_square = r2_score(test_y,y_pred);

print(mse);
print(r2_square);

[-1.55364452e+04 -3.82300661e+04  2.80709765e+04  2.62700117e+04
  1.57956255e+04  3.59791643e+04  4.94479451e+04  3.94460187e+04
  6.55055706e+04  1.88505161e+04  4.53225377e+04  1.31296022e+04
  2.42545638e+05  2.43378905e+05  4.32470281e+04  2.64374160e+04
  5.42043809e+04 -1.71438920e+04  6.40367617e+04 -7.27332188e+03
  4.72059616e+04  7.03856239e+04  2.69422235e+04  5.79974123e+04
  1.13832283e+05  3.41123831e+04  2.95127000e+04  5.85109081e+04
  2.50940213e+05  7.32338926e+04  5.34324962e+04  3.14584358e+04
  3.17650561e+04  1.80505632e+04  1.82220258e+04  1.16139317e+05
  4.40339872e+04  3.74564603e+04  1.02501619e+04  5.61178256e+04
  5.46824265e+04  2.08499589e+04  5.31172916e+04  1.91531459e+03
  2.32369746e+04  2.37893612e+04 -5.63809576e+03  5.22283963e+04
  2.55744810e+04  3.91353423e+04  5.78512550e+04  2.86990764e+04
  4.81478764e+04  3.97248822e+04 -1.00349801e+04  7.84476781e+03
  5.63828544e+04  2.82648442e+04  1.10480915e+04  5.56600913e+04
 -8.04812281e+02  6.52242170e+04  4.19789282e+04  5.77284734e+04
  1.03386489e+04 -1.13913936e+04  2.73973086e+03  2.64825328e+04
  2.17768514e+04  4.34899434e+04  1.56586248e+04  1.93430370e+04
  4.51834747e+04  5.23992801e+04  4.70706926e+04  7.63032567e+04
  2.31544507e+04  1.08347556e+04  2.98533172e+04  3.80791354e+04
  5.32280493e+04  4.00501707e+04 -9.28678943e+02  3.76815065e+04
  4.51219240e+04  2.07277934e+05  4.69118780e+04  4.71615442e+04
  3.56384801e+04  6.30876907e+04  9.75645634e+03  5.19381844e+04
  2.81401741e+04  3.51401502e+04  3.57003935e+04  7.49763463e+04
  1.24533731e+04  3.39056387e+04 -3.19131511e+03  3.58104401e+04
  9.59943170e+04  2.32155624e+04  4.20281093e+04  2.13396959e+04
  5.31007035e+04  5.28911702e+04  3.25375404e+04  3.17507003e+04
  4.76515671e+04  4.55014531e+04  5.40149357e+04  4.07221526e+04
  4.25025011e+04  3.05298892e+04  3.57741118e+04  3.82999803e+04
 -1.20828398e+03  1.04588700e+05  3.43577553e+04  2.47953504e+04
  6.26748267e+04  6.01194327e+04  1.50455937e+04  5.66750588e+03
  4.95489047e+04  3.12824656e+04  5.96290909e+04  4.40980271e+04
  2.95923495e+04  4.37211003e+04  1.00093492e+05  2.48481119e+04
  3.85975681e+04  3.83370071e+04  5.18613052e+04  2.69894236e+04
  4.83768130e+03  5.76063199e+04  1.89583010e+04  9.81609474e+03
  5.80660689e+04  9.79013733e+04  2.04084129e+04  6.63351830e+04
  4.93271083e+04  3.09756430e+04  4.51665476e+04  6.38096978e+04
  6.06235447e+03  5.26042147e+04  4.80569939e+04  3.69992821e+04
  4.09845234e+04  5.72271318e+04  4.04319471e+04  6.17569127e+03
  2.45101594e+04  3.24956534e+04  5.56775025e+04  2.42596801e+04
  1.87526129e+04  1.30141076e+05  6.16291510e+04  2.05678412e+04
  9.64411633e+04  4.58789459e+04 -3.44533371e+03  5.61450592e+03
  4.00782032e+04  2.75824873e+04  5.17007731e+04 -2.13826599e+04
  6.18230517e+04  5.96428813e+03  1.82038906e+04  5.03057943e+04
  2.28709593e+04  5.28810705e+04  4.36025170e+04  2.44959735e+04
  5.20151889e+04  6.14630297e+04  4.42735421e+04  5.55080948e+04
  1.99430099e+03  3.73661442e+04  5.47364220e+04 -6.43682509e+03
  4.23077048e+04  1.36885982e+04  8.36698675e+03  7.09841221e+04
  2.68217642e+04  5.68290284e+04  2.97568956e+04  4.54601248e+04
  5.99654604e+04  3.21306571e+03 -8.11079998e+03  5.23696479e+04
  5.14468776e+04 -3.75054019e+03  4.74248558e+04  1.28633632e+04
  1.08126462e+04  4.41578750e+04  2.48794821e+04  8.42921121e+02
  5.87255856e+04  2.00985595e+04  4.13670736e+04  4.69841626e+04
 -1.26489427e+04  1.49078583e+04 -9.54955090e+03  5.14837264e+04
  1.08328832e+03  6.48712216e+04  3.38673738e+04  9.18279197e+04
  4.00909948e+04  1.01279942e+05  9.08163476e+03  4.28303731e+04
  6.29879746e+04  3.46080288e+04  4.39002013e+04  9.47025936e+03
 -4.04741097e+03 -5.92265917e+03  5.72952367e+04  6.73363177e+04
  4.69782870e+04  5.26234578e+04  2.09150030e+04  6.75603271e+04
  5.20752566e+04  4.17339941e+04  2.53138334e+04  9.76720429e+03
  8.93703741e+04  3.83979302e+04  6.60595714e+04  6.03037762e+04
  4.39707735e+04  4.99066405e+04  3.99062657e+04  2.27191487e+04
  4.26704925e+04  5.35904213e+04  6.86428200e+04  5.13206699e+04
  2.11883907e+04  5.97874937e+04  3.61239648e+04  4.84494829e+04
  3.86759802e+04  1.52801485e+04  5.78553837e+04  3.99399309e+04
  4.70897317e+04  2.39192138e+04  4.70322369e+04  4.68403399e+04
  3.74177492e+04  1.99459129e+04  3.94262223e+04  4.27926505e+04
  2.40803175e+04  1.25020838e+04  3.89307019e+04  6.23128813e+04
 -3.15535057e+03  3.11755195e+04  1.57579320e+04  2.11500062e+04
  4.15466237e+04  1.30683346e+04 -2.03484964e+04  4.58649527e+04
 -1.30625765e+03  4.02837738e+04  7.22758416e+04 -1.29009918e+04
  5.01838481e+04  5.07564695e+04  3.57946791e+04  4.49877808e+04
  1.55365882e+04  1.73714657e+04  5.04153199e+04  3.32211840e+04
  1.19484743e+05  3.24153406e+04  4.39022120e+04  3.09517474e+04
  3.60608768e+04  9.82533450e+03  5.96642591e+04  1.80842885e+04
  3.02043116e+04  3.63955240e+04  1.42712804e+05  2.39784369e+05
  6.82386998e+04  1.56423641e+04  2.95409376e+03  1.04913708e+04
  1.11665028e+04  4.22669783e+04  4.45569210e+04  3.21462623e+04
  3.60640432e+04  7.05120075e+04  1.55886044e+03  5.26829420e+04
  3.01580258e+04  2.37107644e+04  3.21364053e+04  3.56475931e+04
  4.69004001e+04  5.45103568e+04  4.85825884e+04  3.50887479e+04
  4.50191468e+04  4.40415349e+04  5.84269177e+04  2.38346301e+04
  6.69861506e+04 -1.62861106e+03  1.57991723e+04  5.01956994e+04
  2.87111753e+04  7.39356332e+04  3.76216214e+04  7.82182317e+04
  2.43729068e+04 -1.39641684e+04  7.38414188e+02  4.17271331e+04
  2.27200636e+04  4.49296650e+04  5.00620678e+04 -4.32858452e+03
 -7.97536429e+03  5.25970612e+04  4.34444312e+04  3.23391895e+04
  5.50277727e+04  2.93035742e+04  6.02095555e+04  1.05998095e+05
  4.11173692e+04  3.74215519e+04  3.94595675e+04  4.18175570e+04
  5.58515632e+04  4.35437851e+04  2.79315229e+04  2.33607436e+04
  2.04675950e+04  6.92068623e+04  3.77528744e+04  3.09080178e+04
  5.22181990e+04  2.35324664e+04  3.10204973e+04  2.57450870e+04
 -2.70062882e+03  6.69610505e+04  5.06712327e+04  5.94860384e+04
  2.90151745e+04  3.94121802e+04  3.39122228e+04  5.74352949e+04
  2.10290866e+04  6.96135162e+04 -1.18174825e+04  2.84693391e+04
  2.78837158e+04  5.67403828e+04  3.94593938e+04  4.38027450e+04
  4.67932763e+04  4.94056773e+04  6.35949257e+04  3.36929186e+04
  4.66152514e+04  1.97560813e+04  3.17975233e+04  4.86267919e+04
  1.67224948e+04  5.52172521e+04  4.85569921e+04  6.15655788e+04
  3.61766143e+03  2.15756619e+04  6.93642020e+04  2.57681675e+04
  3.34431141e+04  2.85793997e+04  4.04820040e+04  5.71818921e+04
  2.15170200e+04  1.06394619e+04  2.74279792e+04  5.87468183e+04
  1.74358437e+04  5.45372204e+04  2.77560434e+04  1.00749280e+04
 -7.61260236e+03  5.21536286e+04  5.31150249e+04  1.72366409e+04
  5.37835912e+04  4.54250831e+04  6.35843044e+04  1.05066919e+04
  7.10228488e+04  3.51903187e+04  1.15299882e+05  6.64047723e+04
  3.17270204e+04  1.84020316e+04  3.18552386e+04  4.87792821e+04
  4.74469278e+04  5.73485407e+04  8.64786390e+04  9.60098511e+04
  6.53019343e+04  8.47972899e+02  5.29421103e+04  3.40379021e+04
  5.45736331e+04  2.27488251e+04  4.90539196e+04  1.64824182e+04
  4.49741121e+04  1.11321076e+05  2.04828682e+05  5.63170971e+04
  8.87297550e+04  2.03834040e+04  5.29074524e+04  1.09149361e+05
  5.41113012e+04  3.78305662e+04 -8.14692227e+03  6.01734880e+04
  2.29100664e+04  3.80532001e+04  4.15700271e+04 -5.38033515e+03
  2.72557054e+04 -2.14830487e+04  4.11002153e+04  2.54358957e+04
  4.19702349e+04  1.08635109e+04  5.13352090e+04  1.71218530e+04
  5.85202053e+04  2.21128043e+04  3.81868600e+04  1.39661631e+03
  3.60127866e+04  5.68859610e+04  5.22719770e+04  6.54677507e+04
  1.30027290e+04  2.73540256e+04  4.35772369e+04  3.38237518e+04
  2.13382231e+03  4.99636943e+04  5.30966965e+04  4.45224475e+04
  4.86527982e+04  5.72044254e+04  2.41055929e+04  5.32096780e+04
 -1.10225125e+04 -2.54003042e+03  3.19181452e+04  5.58292845e+04
  5.02182266e+04 -9.68516767e+03  3.86828346e+04  3.36873150e+04
  3.19594200e+04  4.17183374e+04  4.89564361e+04  5.06833384e+04
  3.07823341e+04  3.58378700e+04  5.94155149e+03  8.45947482e+04
  5.00806324e+04  3.74493019e+02  2.37123989e+04 -3.46477135e+04
  1.96766793e+04  3.03204523e+03  7.01111921e+04  6.11888240e+04
  4.74587276e+04  8.12801855e+04  3.86445024e+04 -1.36912993e+04
  2.12477498e+04  7.11365466e+03  5.46246122e+04  4.85298772e+04
  5.69944001e+04  2.34386360e+04  8.58481835e+03  4.88156028e+04
  1.17744746e+05  2.78608740e+04 -7.84585355e+02  4.96770407e+04
 -1.23681813e+04  3.08411075e+04  1.78756884e+04  9.42713524e+03
  5.76315523e+04  2.95440365e+04  7.34358772e+03  2.35522179e+04
  3.82581648e+04  5.50378781e+04  6.80011320e+04  7.14041678e+04
  5.18143951e+04  3.00095164e+04  4.26151112e+04  5.82675847e+04
  2.73185350e+04  4.27271448e+04  1.94038838e+04  4.78977114e+04
  7.16711857e+04 -1.12600296e+04  2.40935618e+04  3.24016671e+04
  3.88119548e+04  2.87699479e+04  4.19344761e+04  5.19141613e+04
  5.85069434e+04  4.83217361e+03  1.88251409e+04  4.15381830e+04
  2.18192150e+04  9.55551383e+03  2.10232603e+04  3.11922031e+04
  3.98019923e+04  3.89233858e+03  4.12738032e+04  2.97395715e+04
  5.29846736e+04  4.35205822e+04  4.34472190e+04  3.23899485e+04
  4.20754754e+04 -5.13699191e+03  3.40957636e+04  2.58424514e+04
  4.99929993e+04  2.40569852e+04  4.51178337e+04  3.79990756e+04
  8.93857915e+04  1.73965369e+04  3.63909028e+04  2.34465387e+04
  3.01621617e+04  7.20964769e+04  5.19233334e+04  5.39613956e+04
 -1.07712969e+04  8.13324588e+04  6.21840165e+04  3.10368027e+04
  7.32350305e+04  3.20488427e+03  4.24464350e+04  4.30266101e+04
  4.16318714e+04  3.19918825e+04  1.07714403e+04  1.96950553e+04
  4.25453921e+04  3.84276908e+04  4.05175880e+04  6.93650264e+04
  3.03791400e+04  1.57584320e+06  5.73417786e+04  1.81137422e+04
  1.43231285e+04  1.33895178e+04  2.99471762e+04  4.21347744e+04
  3.42699206e+04  4.66787408e+04  2.17882491e+04  4.24956301e+04
  6.79758239e+04  5.26329755e+04 -1.96343943e+03  1.27470067e+04
  1.88071500e+04  1.06912370e+04  4.23670008e+04  5.00093932e+04
  2.75503955e+04  4.70450467e+04  5.35024874e+04 -1.13698515e+04
  3.25119634e+04  1.66934159e+04  2.20731862e+04 -1.06689721e+03
  4.83602573e+04  6.61872650e+04  4.20194712e+04  4.26120244e+04
  7.29414329e+04  2.86146288e+04  7.95561101e+04  2.21347216e+04
  3.79932105e+04  3.70055606e+04  4.55293192e+04  3.29953260e+04
  5.60201033e+04  1.58828315e+04  3.92486253e+04  3.02883922e+04
  3.87339528e+04  5.31066324e+04  8.97706073e+04  1.55084091e+05
  5.84363428e+04 -3.76582880e+04  4.24638328e+04  5.67002475e+04
  4.10113464e+04  4.54705446e+04  4.11719123e+04 -2.29011569e+03
  4.50923795e+04  5.79999626e+03  1.16357359e+04  3.72129419e+04
  3.67195506e+04  1.69405776e+04  5.54905888e+04  3.68893463e+04
  4.32388734e+04  1.33680952e+05  2.72690785e+04  4.10374002e+04
  3.22234049e+04  1.76192821e+05  3.59154589e+04  4.63777964e+04
 -1.85162058e+03  5.93936513e+04  4.28931238e+04  7.11492202e+02
 -1.34599465e+04  8.26832209e+04  5.28340752e+04  4.53398460e+04
  1.57866903e+04  3.96458380e+04  1.69974362e+04]
884235047.629615
0.8703976559779796

In [19]:
# Extracting model's coefficients 
coef_dict = {};

for ind,coef in enumerate(model.coef_):
    coef_dict[train_x.columns[ind]] = coef;


print(coef_dict)

{'brand': 0.75467417838044, 'model_year': 414.1581666688314, 'milage': -0.24745424539087615, 'fuel_type': 0.2601478206330188, 'transmission': 0.19323649158621362, 'ext_col': 0.30604015736049567, 'int_col': 0.29385178458003736, 'accident': -0.05401909776773852, 'clean_title': 0.0}
[ 7.54674178e-01  4.14158167e+02 -2.47454245e-01  2.60147821e-01
  1.93236492e-01  3.06040157e-01  2.93851785e-01 -5.40190978e-02
  0.00000000e+00]

![alt text](image.png)

![alt text](image-1.png)

Finding the p-value for each predictor (Testing if there is a linear relationship between predictor and response(sales))

In [33]:

for coef in coef_dict.keys(): 
    model = LinearRegression();
    # Fit the model to the training data
    model.fit(train_x[[coef]],train_y);
    # Make predictions on the test data
    # y_pred = model.predict(train_x);
    rss = np.sum((train_y - model.predict(train_x[[coef]])) ** 2);
    n = len(train_y)
    p = len(model.coef_)
    rse = np.sqrt(rss / (n - p - 1))
    se_beta1 = np.sqrt(rse**2 / np.sum((train_x[coef] - train_x[coef].mean())**2));
    se_beta0 = np.sqrt((rse**2)*( (1/n) + train_x[coef].mean()**2/(np.sum((train_x[coef] - train_x[coef].mean())**2))));
    t_beta1 = model.coef_[0] / se_beta1;
    t_beta0 = model.intercept_ / se_beta0;
    print(f'for predictor : {coef} for Slope : {t_beta1}')

for predictor : brand for Slope : 26.677561613098423
for predictor : model_year for Slope : 10.078586403809746
for predictor : milage for Slope : -16.020967975174255
for predictor : fuel_type for Slope : 2.695781891645117
for predictor : transmission for Slope : 16.25094843277405
for predictor : ext_col for Slope : 16.668935317100182
for predictor : int_col for Slope : 18.115812258689722
for predictor : accident for Slope : 5.051849362668637
for predictor : clean_title for Slope : 0.0